@import './reset'; 

/* VARIABLES */
$cyan: #2bd1fc; 
$magenta: #ff48c4; 
$yellow: #f3ea5f; 
$purple: #c04df9; 
$dark-gray: #2c2c2c; 

/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
$display-font: 'Permanent Marker', cursive;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
$text-font: 'Work Sans', sans-serif;


/* LAYOUT */
$header-height: 40px; 

body {
  background: url('../assets/images/80s_grid_background.png') no-repeat center center fixed;
  background-size: cover;

  display: grid;
  grid-template-rows: $header-height 1fr 30px;
}

/* MIXINS  */
@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin triangle($shape-clr, $size) {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-right: $size*2 solid change-color($color: $shape-clr, $alpha: 0.3);
  border-bottom: $size solid transparent;
}

@mixin button-transition($color) {
  background-color: $color;
  border: 2px solid darken($color, 30%);
  box-shadow: 0 0 0 3px darken($color, 30%), 
              0 0 8px black;
  transition: box-shadow 30ms;
  
  &:active {
    transform: scale(0.95); 
    box-shadow: unset;
    transition: box-shadow 100ms;
  }
}

@mixin focus-shadow {
  &:focus-visible {
    box-shadow: 0 0 10px $yellow;
  }
}

/* COMPONENTS */
body {
  color: white;
  font-family: $text-font;
  font-weight: 300;
}

body > header {
  @include flex(space-between);
  padding: 15px;
  text-transform: uppercase;

  h1 {
    font-size: 36px;
    color: $cyan;
    font-family: $display-font; 
  }
}

nav {
  @include flex(space-between); 
  
  > * {
    padding: 0 25px; 
  }

  a {
    color: $purple; /* or magenta */
    &:visited {
      color: $purple;
    }
  }
}

.about-hover {
  color: $cyan;
  
  .about-dropdown {
    position: absolute;
    display: none;
    z-index: 5;
    
    top: $header-height - 5;
    right: 10px;
    width: 400px;
    padding: 12px;
    border: 2px solid $yellow;
    background-color: $dark-gray;
    color: white;
    text-align: justify;
    line-height: 1.3;

    text-transform: none;

  }

  &:hover p, &:focus p {
    display: block;
  }

}


main {
  @include flex(); 

  > div {
    z-index: 1;
    background-color: $dark-gray; 
    /* width: 90%; */
    min-width: 500px;
    padding: 20px; 
    border: 3px solid change-color($color: $yellow, $alpha: 0.6);

    section {
      height: 70%; 

      header {
        @include flex(space-between, flex-end); 
        padding: 10px 0;

        label {
          @include flex(); 
          font-size: 14px;
          
          input {
            margin: 5px 0 0 10px;
          }
        }
        
        > label {
          flex-direction: column;
          align-self: center;
        }
      }
    }
    
    article {
      border: 1px solid $cyan; 
      min-height: 40px;
      padding: 10px; 
    }
  }
}

form {
  @include flex(flex-start, center, column);
  margin-bottom: 20px;

  label {
    text-transform: uppercase;
  } 
  > * {
    margin: 5px 0;
  }

  input {
    font-weight: 400;
    text-align: center; 


    @include focus-shadow(); 
  }

  input[type=submit] {
    cursor: pointer;
    color: white; 
    font-weight: 500;
    @include button-transition($purple); 
    @include focus-shadow(); 
  }
}


#play-btn {
  background-color: change-color($color: $purple, $saturation: 50%, $lightness: 80%, $alpha: 1.0);
  border: 2px solid transparent;
  margin-bottom: 3px;
  
  &.active {
    cursor: pointer;
    
    @include focus-shadow(); 
    @include button-transition($purple); 
  }
}


.track-section {
  @include flex(space-between); 

  aside {
    width: 60px;
  }

  button {
    height: 30px;
    width: 30px;
    background-color: $cyan;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    margin: 0 2px;
    
    @include focus-shadow(); 

    &.downbeat {
      background-color: lighten($cyan, 30%);
      margin-left: 5px;
    }

    &.active {
      background-color: $magenta;
    }

  }

  .track, .controls-container {
    white-space: nowrap;
  }

  .controls-container {
    margin-left: 20px;
    @include flex(); 
  }

}

.playing {
  box-shadow: 0 0 5px $yellow;
}

.local-controls-labels {
  @include flex(flex-end); 
  font-size: 14px;
  margin-bottom: 5px;

  > * {
    margin-right: 42px;
  }
}

.slider {
  -webkit-appearance: none;
  background-color: darken($dark-gray, 3%);
  border: 3px solid black;
  box-shadow: inset 0 0 8px black;
  height: 50px;
  width: 200px;

  @include focus-shadow(); 
  
  &.pan {
    height: 30px;
    width: 100px;
  }

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: black;
    border: none;
    border-radius: 3px;
  }

  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 6px inset $dark-gray; 
    box-shadow: 0 0 2px 1px rgba(201, 201, 201, 0.5);
    height: 40px;
    width: 13px;
    background: white;
    margin-top: -18px;
    
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }
  
  &.slider::-webkit-slider-thumb {
    height: 34px;
    margin-top: -15px;

  }
  
  &#pitch::-webkit-slider-thumb {
    background: $yellow;
  }
  &.pan::-webkit-slider-thumb {
    background: $purple;
  }
  
  &:focus {
    outline: none;
  }
  
  &:focus::-webkit-slider-runnable-track {
    background: black;
  }

}

input[type=range].input-knob {
  @include focus-shadow(); 
  border-radius: 50%;
}
input[type=range]:focus {
  outline: none;
}

#triangle1 {
  @include triangle(change-color($color: $cyan, $alpha: 0.3), 180px); 
  top: 8%;
  left: 4%;
  transform: rotate(10deg);
}
#triangle2 {
  @include triangle(change-color($color: $yellow, $alpha: 0.3), 120px); 
  bottom: 10%;
  right: 8%;
  transform: rotate(80deg);
}
#triangle3 {
  @include triangle(change-color($color: white, $alpha: 0.3), 80px); 
  top: 0;
  right: 25%;
  transform: rotate(50deg);
}

.slider-container {
  @include flex(center, flex-end, column); 
}

footer > small {
  background-color: $dark-gray;
  padding: 8px 10px;
  box-shadow: 0 0 3px $yellow;
}